@page "/datos"
@using DDI_Parcial2_App.Models
@inject DDI_Parcial2_App.Services.UserServices UserServices
@inject NavigationManager Navigation
@code {
    [Parameter, SupplyParameterFromQuery] public string? email { get; set; }
    private User? user;

    protected override void OnInitialized()
    {
        if (!string.IsNullOrWhiteSpace(email))
        {
            user = UserServices.BuscarPorCorreo(email);
        }
    }
}

@if (user != null)
{
        <h3>Mis Datos</h3>
        <p><strong>Nombre:</strong> @user.Nombre</p>
        <p><strong>Email:</strong> @user.Email</p>
        <p><strong>Contraseña:</strong> @user.Password</p>

        <button @onclick="Volver">Volver al inicio</button>
}
else
{
        <p style="color:red;">Usuario no encontrado.</p>
}

@code {
    void Volver()
    {
        Navigation.NavigateTo($"/MainPage?email={email}");
    }
}