@page "/datos"

@using DDI_Parcial2_App.Models
@inject DDI_Parcial2_App.Services.UserServices UserServices
@inject NavigationManager Navigation

<div class="login-container animate-in">
    @if (user != null)
    {
            <h3 style="font-family: 'EarwigFactory', sans-serif;">Mis Datos</h3>

            <div class="font-2p">
                <p class="usuario-info"><strong>Nombre:</strong> @user.Nombre</p>
                <p class="usuario-info"><strong>Email:</strong> @user.Email</p>
                <p class="usuario-info"><strong>Contraseña:</strong> @user.Password</p>
            </div>

            <button class="btn-p5-2p" @onclick="Volver">Volver al inicio</button>
    }
    else
    {
            <p style="color:red;">Usuario no encontrado.</p>
    }
</div>

@code {
    [Parameter, SupplyParameterFromQuery] public string? email { get; set; }
    private User? user;

    protected override void OnInitialized()
    {
        if (!string.IsNullOrWhiteSpace(email))
        {
            user = UserServices.BuscarPorCorreo(email);
        }
    }

    void Volver()
    {
        Navigation.NavigateTo($"/MainPage?email={email}");
    }
}
