@page "/login"
@inject DDI_Parcial2_App.Services.UserServices UserServices
@inject NavigationManager Navigation

<div class="login-container animate-in">
    <h3 style="font-family: 'EarwigFactory'; text-align: center;">Iniciar Sesión</h3>

    <input @bind="email" placeholder="Correo electrónico" type="email" />
    <input @bind="password" type="password" placeholder="Contraseña" />

    <button class="btn-p5-2p" @onclick="IniciarSesion">Ingresar</button>
    <button class="btn-p5-2p" @onclick="Recuperar">¿Olvidaste tu contraseña?</button>

    @if (!string.IsNullOrWhiteSpace(error))
    {
        <p style="color:red">@error</p>
    }
</div>

@code {
    string email = "";
    string password = "";
    string error = "";

    void IniciarSesion()
    {
        var usuario = UserServices.Login(email, password);
        if (usuario != null)
        {
            Navigation.NavigateTo($"/MainPage?email={email}");
        }
        else
        {
            error = "Credenciales incorrectas.";
        }
    }

    void Recuperar()
    {
        Navigation.NavigateTo($"/recuperar");
    }
}
