@page "/usuarios"
@using DDI_Parcial2_App.Models
@inject DDI_Parcial2_App.Services.UserServices UserServices
@inject NavigationManager Navigation

<h3 style="font-family: 'EarwigFactory';">Usuarios Registrados</h3>

@foreach (var user in UserServices.ObtenerTodos())
{
    <p class="usuario-info">@user.Nombre - @user.Email</p>
}

<button class="btn-p5-2p" @onclick="Volver">Volver</button>

@code {
    [Parameter, SupplyParameterFromQuery] public string? email { get; set; }

    void Volver()
    {
        Navigation.NavigateTo($"/MainPage?email={email}");
    }
}
